@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
select {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: none;
  }
  a{
    text-decoration: none;
    color: white;
}
.container{
    display: grid;
    font-family: 'Poppins', sans-serif;
    max-width: 100% !important;
}
.container >section{
    border-bottom: 6px solid #222222;
    max-width: 100%;
    font-weight: bold;
}
.container .hero{
    background-image: url(../assets/hero-img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    
}
.nav2{
    display: flex;
}
.nav2 .icon-tab{
    height: 50px;
    width: 120px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0 20px;
}
.nav-link {
    color: white;
    font-weight: bold;
}
.icon-tab i{
    color: white;
}
nav button{
    background-color: #E50914;
    color: white;
    height: 50px;
    width: 90px;
    padding: 0 5px;
    transition: 0.5s all;
}
nav button:hover{
    background-color: #84050c;
}
nav button a{
    font-size: 18px;
}
/* TEXT SECTION */
.text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    line-height: 3rem;
    font-weight: 800;
    
}
.text h1{
    font-size: 65px;
    text-align: center;
    width: 52%;
    font-weight: 800;
    line-height: 5rem;
}
.text p{
    font-size: 30px;
    
}
.text small{
    font-size: 17px;
    padding-top: 20px;
}
.text input{
    width: 400px;
    height: 50px;
}
.text button{
    background-color: #E50914;
    height: 50px;
    color: white;
    width: 150px;
}
.text-btn{
display: flex;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center !important;
    gap: 27px;
    background-color: black;
    color: white;
    min-height: 350px;
    
}
.item-img{
    height: 290px;
    width: 350px;
}
.item-img img{
    max-width: 100%;
    object-fit: contain;
}
.item-text{
    width: 30%;
    
}
.item-text h1{
    font-size: 40px;
}
.item-text p{
    font-size: 18px;
    padding-top: 1rem;;
}
/* FAQ SECTION */
.faq{
    background-color: black;
    color: white;
    min-height: 590px;
 
 }
 .faq-cont{
    margin: auto;
    width: 40%;
    padding-bottom: 40px;
}
.faq-cont h1{
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
}
.faq-cont >div{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #303030;
    margin: 15px 0;
    
}
.accord{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}
.quest{
    font-size: 24px;
}
.faq-cont input{
    width: 400px;
    height: 50px;
    padding: 19px;
    font-size: 19px;
}
.faq-cont button{
    background-color: #E50914;
    height: 50px;
    color: white;
    width: 150px;
}

.faq-cont p{
    padding-top: 14px;
    font-size: 15px;
}
/* ACCORDION */
.is-open + .quest{
    display: block;
       
}
.answer{
    display: none;
    transition: all 0.5s;
}
.harmburger{
    display: none;
    color: white;
    font-size: 30px;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
}
footer h3{
    margin: auto;
    padding: 20px 0;
    width: 50%;
    color: #737373;
}
li{
    list-style: none;
    padding: 7px 0;
}
footer main{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #737373;

}
footer .icon-tab{
    margin: 20px 0px 10px 0;
    border: 0.5px solid #737373;
    padding: 10px;
   
}
footer .icon-tab select{
    color: #737373;
    font-size: 20px;
}
footer .icon-tab i{
    color: #737373;
    font-size: 20px;
}

@media only screen and (max-width: 1280px){
    .text h1{
        width: 80%;
    }
    .item-text{
        width: 36%;
    }
    .item-text h1{
        font-size: 39px;
    }
    .faq-cont{
        width: 60%;
    }
    footer main{
        width: 70%;
        color: #737373;
    }
    }
    
    @media only screen and (max-width: 820px){
        .container.hero{
            height: 100vh;
            line-height: 3rem;
        }
        .harmburger{
            display: block;
        }
        .nav2{
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: #010E1B;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            height: 160px;
            color: white;
            justify-content: space-around;
            align-items: center;
    
            
            
        
        }
        .nav2{
            display: flex;
            flex-direction: column;
            
        }
        
        
        .nav2.active{
            left: 0;
        
        }
        .text{
            height: 100%;
        }
        .text h1{
            width: 90%;
            font-size: 40px;
            line-height: 2.5rem;
        }
        .text p{
            font-size: 22px;
        }
        .text small{
            font-size: 12px;
        }
        .text input{
            width: 200px;
            padding-left: 30px;
        }
        .item{
            flex-direction: column;
            gap: 2;
        }
        .item-img, .item-text{
            width: 85%;
            padding: 30px 0;
        }
        .item-text h1{
            padding-top: 25px;
            font-size: 44px;
        }
        .item-text p{
            padding-top: 12px;
        }
        .faq-cont{
            width: 90%;
        }
        footer main{
            flex-direction: column;
            width: 60%;
            margin: auto;
            font-size: 22px;
        }
        footer .icon-tab{
            width: 180px;
        }
        footer ul{
            padding: 20px 0;
        }
        
        
    }
    @media only screen and (max-width: 500px){
    .container{
        overflow-x: hidden;
    }
    .logo img{
        height: 40px;
        width: 120px;
    }
        .container .hero{
        height: 500px;
    }
    .text h1{
        font-size: 36px;
    }
    .text p{
        font-size: 10px;
        text-align: center;
    }
    .text small{
        width: 90%;
        font-size: 10px;
        line-height: 1.2rem;
        text-align: center;
        padding-top: 9px;
    }
        .text-btn{
        flex-direction: column;
        align-items: center;
    
    }
    .text-btn input{
        width: 300px;
        margin-bottom: 10px;
    }
    .text-btn button{
        width: 120px;
    }
    .faq-cont input{
        width: 300px;
        margin-bottom: 10px;
    }
    .item{
        gap: 0;
    }
    
    .item-text h1{
        font-size: 20px;
    
    }
    .item-text p{
        font-size: 12px;
    }
    .faq-cont h1{
        font-size: 20px;
    }
    .faq-cont p{
        font-size: 10px;
    }
    footer h3{
    width: 90%;
    text-align: center;
    }
    footer li{
        font-size: 15px;
    }
    }
    @media only screen and (max-width: 380px){
        .container .hero{
            height: 500px;
        }
        .text{
            justify-content: start;
        }
        .text h1{
            font-size: 25px;
            width: 100%;
            padding-top: 80px;
        
        }
        .text-btn input{
            width: 270px;
            margin-bottom: 10px;
        }
        .text small{
            width: 100%;
            padding: 0 9px;
            font-size: 7px;
        }
        .item-img{
            height: 150px;
        }
        .item-text h1{
            padding-top: 30px !important;
        }
        .accord{
            align-items: center !important;
        }
        .accord p{
            padding: 2px 0;
        }
        .accord i{
            font-size: 20px;
        }
    
    }

